// Partial for site colors

$red:  #ff033a; /*#ff033a*/
$blue:  #03b8ff;
$yellow:  #ffd747;
$white: #fff8dc;
$white-translucent: rgba(255, 248, 220, 0.25);
$black: #141516;



$deathknight: #c41f3b;
$demonhunter: #a330c9;
$druid: #ff7d0a;
$hunter: #abd473;
$mage: #69ccf0;
$monk: #00ff96;
$paladin: #f58cba;
$priest: #ffffff;
$rogue: #fff569;
$shaman: #0070d3;
$warlock: #9482c9;
$warrior: #c79c63;

